<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link href="~/css/500.css" rel="stylesheet">
<title>Error 500</title>
    
<div class="page-404" style="height: 800px; background: #f0f0f0 !important;">
    <div class="outer" style="max-height:800px;margin-top:100px">
        <div class="middle">
            <div class="inner">
                <div class="inner-circle"><i class="fa fa-cogs"></i><span>500</span></div>
                <span class="inner-status">Упс! Внутрішня помилка сервера!</span>
                <span class="inner-detail">На жаль, у нас виникли проблеми з вашим запитом. Будь ласка, спробйте щераз через деякий час.</span>
            </div>
        </div>
    </div>
</div>