
<link href="https://fonts.googleapis.com/css?family=Quicksand:700" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="~/css/404.css" />
<title>Error 404</title>
<body>
    <div id="notfound">
        <div class="notfound">
            <div class="notfound-bg">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <h1>oops!</h1>
            <h2>
                Помилка 404: Сторінка не знайдена
            </h2>
        </div>
    </div>
</body>
