.find-account__dialog h2 {
    font-size: 20px;
    padding: 18px 16px 18px 18px;
    border-bottom: 1px solid #e5e5e5;
}

.find-account__form {
    padding: 5px 16px 16px 16px;
}

    .find-account__form input {
        width: 100%;
        padding: 16px 0 16px 16px;
        margin-bottom: 16px;
        border-radius: var(--border-radius);
    }

.find-account__control {
    padding: 14px 14px 0;
    margin: 0 -16px;
    border-top: 1px solid #e5e5e5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.btn {
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 6px;
    padding: 11px;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
}

.btn--primary {
    background-color: #1877f2;
    margin-top: 10px
}


.input {
    outline: none;
    font-size: 16px;
    border: 1px solid #ced0d4;
}

.containerm {
    padding: 16px;
}


.modalm-content {
    background-color: #fefefe;
    margin: 8% auto 10% auto;
    min-height: 300px;
    max-height: 370px;
    max-width: 700px;
    border-radius: var(--border-radius);
    -webkit-box-shadow: 0 0 4px 2px #a7a9ab;
    box-shadow: 0 0 4px 2px #a7a9ab;
    width: 80%;
}

@media(max-width:540px) {
    .btn--primary {
        margin-top:0;
    }

}

@media(max-width:390px){
    .modalm-content {
        max-height:460px;
    }
}
