html, body {
    height: 100%;
    background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
}

.fat {
    width: 400px;
    padding: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.card-title {
    margin-bottom: 30px;
}

.card-body {
    padding: 1rem!important;
}

.form-group {
    margin-bottom: 0.25rem!important;
}

.form-group label {
    width: 100%;
}

.my-login-page .btn.btn-block {
    padding: 12px 10px;
}


@media screen and (max-width: 425px) {
    .my-login-page .card-wrapper {
        margin: 0 auto;
    }
}

@media screen and (max-width: 320px) {
    .my-login-page .card.fat {
        margin-left: 10%;
    }

        .my-login-page .card.fat .card-body {
            padding: 15px;
        }
}

.field-icon {
    float: right;
    margin-left: -25px;
    padding-right:9px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
}