<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<system.webServer>
    <httpErrors errorMode="Custom" existingResponse="Replace">
      <clear/>
      <error statusCode="404" path="/Error/NotFound" responseMode="ExecuteURL"/>
      <error statusCode="403" path="/Error/Forbidden" responseMode="ExecuteURL"/>
      <error statusCode="500" path="/Error/Iternal" responseMode="ExecuteURL"/>
    </httpErrors>
  </system.webServer>-->
</configuration>