<title>Про нас</title>
<link href="~/css/about.css" rel="stylesheet"/>

<div id="page-6912" data-be-logged-in="0" class=" layout_default">

    <div id="content" class="main-section content">
        <div role="article">
            <div id="c450586" class="content-wrapper layout-default frame-default">
                <div class="container">
                    <div class="grid-2x6columns-66-33 col_left_white_bg_blue_border_top">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="left">
                                    <div id="c450579" class="content-wrapper layout-default frame-default">
                                        <div class="container">
                                            <div id="c16822" class="content-wrapper layout-default frame-default">
                                                <div class="container" style="text-align:justify">                         
                                                    <h1> Рішення від найбільшого у світі незалежного виробника мастильних матеріалів </h1>
                                                    <div class="csc-textpic-text">
                                                        <p>
                                                            FUCHS — це заснована в Німеччині глобальна група компаній, яка вже понад 90 років
                                                            займається розробленням, виробництвом і збутом мастильних матеріалів практично для всіх
                                                            сфер застосування та галузей промисловості. У складі групи FUCHS налічується приблизно
                                                            58 компаній і майже 5700 співробітників у всьому світі, а сама група FUCHS є провідним
                                                            незалежним постачальником мастильних матеріалів.
                                                        </p>
                                                        <p>
                                                            Програма продукції компанії FUCHS містить у собі понад 10 000 продуктів і супутніх
                                                            послуг у шістьох ключових категоріях.
                                                        </p>
                                                        <p>
                                                            <a href="https://www.fuchs.com/ua/uk/produkti/programa-produkciji/avtomobilni-mastilni-materiali/"
                                                               title="Opens internal link in current window" class="internal-link">
                                                                Автомобільні
                                                                мастильні матеріали
                                                            </a>
                                                        </p>
                                                        <p>
                                                            <a href="https://www.fuchs.com/ua/uk/produkti/programa-produkciji/promislovi-mastilni-materiali/"
                                                               title="Opens internal link in current window" class="internal-link">
                                                                Промислові
                                                                мастильні матеріали
                                                            </a>
                                                        </p>
                                                        <p>
                                                            <a href="https://www.fuchs.com/ua/uk/produkti/programa-produkciji/konsistentni-mastila/"
                                                               title="Opens internal link in current window" class="internal-link">
                                                                Консистентні
                                                                мастила
                                                            </a>
                                                        </p>
                                                        <p>
                                                            <a href="https://www.fuchs.com/ua/uk/produkti/programa-produkciji/mastilni-materiali-dlja-metaloobrobki/"
                                                               title="Opens internal link in current window" class="internal-link">
                                                                Мастильні
                                                                матеріали для обробки металів
                                                            </a>
                                                        </p>
                                                        <p>
                                                            <a href="https://www.fuchs.com/ua/uk/produkti/programa-produkciji/mastilni-materiali-dlja-specialnikh-umov-zastosuvannja/"
                                                               title="Opens internal link in current window" class="internal-link">
                                                                Мастильні
                                                                матеріали для спеціальних умов застосування
                                                            </a>
                                                        </p>
                                                        <p>
                                                            <a href="https://www.fuchs.com/ua/uk/produkti/programa-produkciji/poslugi/"
                                                               title="Opens internal link in current window" class="internal-link">Послуги</a>
                                                        </p>
                                                        <p>
                                                            Клієнтська база групи компаній FUCHS налічує понад 100 000 замовників, серед яких
                                                            компанії, що працюють у таких галузях: постачальники деталей і вузлів для автомобільної
                                                            промисловості, постачальники комплектного обладнання, розвідувальні й гірничі роботи,
                                                            обробка металів, сільське й лісове господарство, аерокосмічна галузь, виробництво
                                                            електроенергії, виробництво механічного обладнання, будівництво і транспорт, а також
                                                            виробництво сталі й інших металів, цементу, продуктів харчування, скла, лиття, кування
                                                            та багато інших галузей.
                                                        </p>
                                                        <p>
                                                            У тісній співпраці зі своїми замовниками група компаній FUCHS розробляє комплексні
                                                            інноваційні й індивідуальні рішення для найрізноманітніших сфер застосування. Мастильні
                                                            матеріали, які виробляються групою компаній FUCHS, відомі своїми високими
                                                            характеристиками, екологічністю, рівнем безпеки й надійністю, ефективністю застосування
                                                            й економічністю. Їхнє виробництво компанією FUCHS базується на принципі: технологія, яка
                                                            окупається.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="c450584" class="content-wrapper layout-default frame-default">
                                        <div class="container" style="text-align:justify">
                                            <div class="csc-textpic csc-textpic-responsive csc-textpic-intext-right ce-textpic ce-right ce-intext">
                                                <div class="csc-textpic-imagewrap"></div>
                                                <div class="ce-bodytext">
                                                    <h2> Гарантована близькість до замовника </h2>
                                                    <div class="csc-textpic-text">
                                                        <p>
                                                            Команда з більш ніж 800 спеціалістів з усієї&nbsp;Європи працює для задоволення потреб
                                                            наших клієнтів. Які вимоги вони не ставили б перед нами, ми зможемо підібрати ідеальний
                                                            продукт для їхніх специфічних застосувань та процесів. У нашому центрі технологічних
                                                            розробок ми швидко та ефективно об'єднуємо досвід спеціалістів з різних дисциплін та
                                                            кожного дня працюємо над розробкою інноваційних рішень в галузі мастильних матеріалів,
                                                            які відповідали б вимогам сьогодення та майбутнього.
                                                        </p>
                                                        <p>&nbsp;</p>
                                                        <table>
                                                            <tbody>
                                                                <tr>
                                                                    <td>Рік заснування</td>
                                                                    <td>1997</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Адреса</td>
                                                                    <td>Україна,&nbsp;79069 Львів,&nbsp;вул. Шевченка, 327 А</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Галузі</td>
                                                                    <td>
                                                                        Мастильні матеріали для автомобільної техніки, продукти для металообробного
                                                                        обладнання, антикорозійні речовини, промислові засоби для очистки, промислові
                                                                        оливи і консистентні мастила.
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Керівник</td>
                                                                    <td>Юлія Лужна</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Холдинг</td>
                                                                    <td>FUCHS PETROLUB SE</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Кількість місцевих співробітників</td>
                                                                    <td>&gt; 50</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Сертифікати</td>
                                                                    <td>ISO 9001:2015, ISO 45001:2018</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="right">
                                    <div id="c450581" class="content-wrapper layout-default frame-default">
                                        <div class="container" style="min-width:290px">
                                            <div class="grid-1x12columns">
                                                <div class="row" >
                                                    <div class="col-xs-12">
                                                        <div id="c450580" class="content-wrapper layout-default frame-default">
                                                            <div class="container">
                                                                <a id="c450780"></a>
                                                                <h1> Контакти головного офісу </h1>
                                                                <div class="csc-textpic-text">
                                                                    <p>ТОВ "Фукс Мастила Україна"</p>
                                                                    <p>вул. Шевченка, 327-А</p>
                                                                    <p>79069 Львів / Україна</p>
                                                                    <p>Телефон: +38 032 235 08 10</p>
                                                                    <p>Факс: +38 032 235 08 15</p>
                                                                    <p>
                                                                        Ел. пошта: <a href="javascript:linkTo_UnCryptMailto(%27jxfiql7crzepXcrzep%3Alfi%2Bzlj%2Brx%27);"
                                                                                      title="Opens internal link in current window" class="mail">fuchsua@fuchs.com</a>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>