<title>Fuchs Rivne</title>
<style>
    .p-2 {
        padding: 0 !important;
    }
</style>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron jumbotron-fluid" style="background-image: url('/img/dfg-min.jpg');margin-top:10px">
    <div class="container" style="background-color: white;min-height: 350px;padding: 20px;">
        <h1 class="display-4">Fuchs Rivne</h1>
        <p class="lead" style="text-align:justify">
            &nbsp;&nbsp;&nbsp;&nbsp;Компанія Fuchs Petrolub SE - це одна із світових лідерів в сфері розробки та виготовлення мастильних матеріалів, яка задовільняє потреби клієнтів понад 90 років.
            В Україні вона була заснована лише в 1997 році, а підрозділ в Рівному - в 2000 році. Проте за цей короткий час компанія Fuchs Petrolub SE спромоглася отримати велику клієнтську
            базу, тим самим показавши, що вона не поступаємось іншим фірмам у цій сфері у світі. Серед її клієнтів в Україні такі гіганти як Кроноспан, АСТ, ДТЕК та інші.
            Ця компанія постійно розвивається за допомогою спеціалістів, які працюють в нас, та наших клієнтів.<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Тому ми радимо вам обирати нас як партнера з постачання мастильних матеріалів.
        </p>
    </div>
</div>
