<title>Скидання паролю</title>
<link rel="stylesheet" href="/css/resetpassword.css" />

<div class="modalm-content">
    <div class="containerm justify-content-around" id="divpas">
        <h2 style="border-bottom: 1px solid #e5e5e5;padding-bottom:3px;padding-left:16px">Знайдіть свій обліковий запис</h2>
        <form asp-action="forgotpassword" class="find-account__form">
            <div>
                <span style="font-size:20px;"><b>@ViewBag.Message</b></span>
            </div>
            <div class="form-group">
                Будь ласка введіть пошту від вашого аккаунту, щоб ми змогли відправити вам новий пароль
            </div>
            @Html.TextBox("Email", "", new { @class = "input",placeholder="Ваша пошта" })

            <div class="find-account__control">

                <button type="submit" class="btn btn--primary login-btn">
                                   Відправити
                </button>
            </div>
        </form>
    </div>

</div>