@model LoginViewModel
@{
    Layout = null;
}
<title>Вхід</title>

<link href="~/css/sign.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">

<div class="card fat">
    <div class="card-body">
        <h4 class="card-title">Вхід</h4>
        <form asp-action="login">
            <div class="form-group">
                <label asp-for="Email" >Пошта</label>
                <input asp-for="Email" class="form-control">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password">Пароль</label>
                <input asp-for="Password"  id="password" type="password" class="form-control"><i class="far fa-eye-slash field-icon" id="togglePassword" style=" cursor: pointer;"></i>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <a href="/account/forgotpassword" class="float-right" style="float:left!important;margin-bottom:10px">
                Забули пароль?
            </a>

            <div class="form-group m-0">
                <button type="submit" class="btn btn-primary btn-block">
                    Вхід
                </button>
            </div>
            <div class="mt-4 text-center">
                Досі не з нами? <a href="/account/registration">Реєстрація</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
        const togglePassword = document.querySelector('#togglePassword');
        const password = document.querySelector('#password');

        togglePassword.addEventListener('click', function (e) {
            if (password.type === "password") {
                password.type = "text";
                this.className = 'far fa-eye field-icon';
            } else {
                password.type = "password";
                this.className = 'far fa-eye-slash field-icon';
            }
        });
    </script>